.user-info {
    
    display: flex;
    align-items: center;

    #user-icon {
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-size: contain;
        background-position: center;
    }

    #guest-picture {
        border: 1px solid var(--light-orange);
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-size: contain;
        background-position: center;
        background-position-x: 2px;
    }
}