.user-info {
    
    display: flex;
    align-items: center;

    #user-icon {
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-size: contain;
        background-position: center;
    }

    #guest-picture {
        aspect-ratio: 1/1;
        border-radius: 100%;
        background: radial-gradient(circle, var(--light-gray) 65%, var(--light-orange) 5%);
        margin-left: 5px;
        width: 70%;
    }
}