.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    > * {
        /* width: 100%;
        border: 1px solid black; */
    }

   > .header {
        display: grid;
        grid-template-columns: 2fr 1fr;

        > .info {
            display: grid;
            grid-template-columns: 1fr 5fr;

            > #icon-wrapper {

                > #icon {
                    aspect-ratio: 1/1;
                    background-color: var(--light-orange);
                    border-radius: 100%;
                    background-size: cover;
                    background-position: center;
                }
            }

            > #details {
                padding-left: 2rem;
                display: flex;
                gap: 1rem;
                font-size: 2rem;
                align-items: center;
            }
        }

        > .actions {
            display: flex;
            align-items: center;
        }
   }

    > .friend-slider {
        border: 1px solid var(--dark-gray);
    }

    > .all-posts-wrapper {
        height: fit-content;
        border: 1px solid black;
        padding: 1rem;

        > .all-posts {

        }
    }
}