.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-x: none;
    overflow-y: auto;
}

.all-posts-wrapper {
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;

    & .all-posts {
        display: grid;
        grid-template-columns: repeat(4, 20rem);
        gap: 1rem;
    }
}

.header {
    display: flex;

    & .info {
        position: relative;
        z-index: initial;
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding-left: 1rem;
        width: 100%;
        background-color: var(--light-gray);
        border-top-left-radius: 7rem;
        border-top-right-radius: 7rem;

        & #details {
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: calc(15rem * .75);
            padding-left: 2rem;

            > #username {
                padding: 1rem;
                padding-bottom: 0;
            }

            > #description {
                font-size: 1.25rem;
                padding: 1rem;
                /* Spacing for editing mode */
                border: 1px solid transparent;
            }

            > form#description {
                border-radius: .5rem;
                border: 1px dashed var(--dark-gray);
            }

        }

        > .actions {
            display: flex;
            align-items: center;
            gap: .5rem;
            
            > button {
                padding: .5rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}

#profile-background-spacer {
    background-color: var(--dark-gray);
    width: 100%;
    height: 25px;
}

.profile-details-background {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    background-color: var(--dark-gray);
    z-index: -1;
}

.icon-wrapper {
    position: relative;
    z-index: initial;
    background-color: var(--dark-gray);
    width: 16rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 50%;
    border-bottom-right-radius: 7rem;
}

.profile-icon-background {
    position: absolute;
    min-width: 100%;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    background-color: var(--light-gray);
    z-index: -1;
}

/* Profile picture */
.icon-wrapper div{
    width: 10rem;
}

