.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    overflow-x: none;
    overflow-y: auto;

   > .header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        /* border: 1px solid black; */
        
        > .info {
            display: grid;
            grid-template-columns: 1fr 5fr;
            gap: 1rem;

            > #icon-wrapper {
                > #icon {
                    width: 8rem;
                    height: 8rem;
                    border-radius: 100%;
                    background: radial-gradient(circle, var(--light-gray) 65%, var(--light-orange) 5%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-size: contain;
                    background-position: center;
        
                    > img#guest {
                        margin-left: 4px;
                        width: 70%;
                    }
                }
            }

            > #details {
                font-size: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                > #description {
                    font-size: 1.25rem;
                    padding: 1rem;
                    margin-right: 1rem;
                }

                > form#description {
                    border-radius: .5rem;
                    border: 1px dashed var(--dark-gray);
                }

            }
        }

        > .actions {
            display: flex;
            align-items: center;
            gap: .5rem;
            > button {
                background-color: var(--light-orange);
                padding: .5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                font-size: 1rem;
                border: none;
                border-radius: .5rem;
                border: 1px solid var(--dark-gray);
            }
        }
   }

    > .friend-slider {
        /* border: 1px solid var(--dark-gray); */
    }

    > .all-posts-wrapper {
        height: fit-content;
        /* border: 1px solid black; */
        padding: 1rem;

        > .all-posts {
            display: grid;
            grid-template-columns: repeat(5, 10rem);
            grid-template-rows: repeat(auto, 10rem);
            gap: 1rem;

            > div {
                width: 100%;
                height: 100%;
            }
        }
    }
}

