.friend-preview-wrapper {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 8rem;
    padding: .5rem;

    > .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        > #icon {
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: radial-gradient(circle, var(--light-gray) 65%, var(--light-orange) 5%);
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: contain;
            background-position: center;
            width: 3rem;

            > img#guest {
                margin-left: 3px;
                width: 70%;
            }
        }
    }

    > button {
        background-color: var(--light-orange);
        padding: .25rem;
        border: none;
        border-radius: .25rem;
        border: 1px solid var(--dark-gray);
    }
}