.profile-post-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-gray);
    color: var(--text-light);
    height: fit-content;
    border-radius: .75rem;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 1.5rem;

    & .profile-post-content {
        padding: 1rem;
        max-height: 90%;
        overflow: hidden;
    }
}

.profile-post-wrapper:hover {

    & .profile-post-content {
        filter: brightness(50%);
    }

    & .profile-post-stats {
        display: flex;
    }
}

.profile-post-stats{
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;

    & div {
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: center;

        & svg {
            width: 30px;
            height: 30px;
        }
    }
}