.scroll-menu-wrapper {
    display: flex;
    justify-content: center;
}

#scroll-menu {
    display: flex;
    gap: 1rem;
    width: 25rem;
    overflow-x: auto;
    overflow-y: none;
    padding: 1rem;
    background-color: var(--light-gray);
    border-radius: 1rem;
    /* Matches width of profile posts */
    width: 84rem;

    /* scroll-behavior: smooth; */

    > li {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

#scroll-menu::-webkit-scrollbar {
    display: none; 
} 