.notifications-container {
    padding: 1rem;

    > ul {
        background-color: var(--medium-gray);
        border-radius: .5rem;
        width: fit-content;
    }

    & li {
        padding: 1rem;
        gap: .5rem;

        display: grid;
        grid-template-columns: 10rem 15rem 5rem 5rem;
        align-items: center;

       

        > button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--light-orange);
            padding: .25rem;
            padding-left: .5rem;
            padding-right: .5rem;
            font-size: .9rem;
            border: none;
            border-radius: .5rem;
            border: 1px solid var(--dark-gray);
        }
    }
}