.notifications-container {
    padding: 3rem;

    > ul {
        background-color: var(--medium-gray);
        border-radius: .5rem;
        width: fit-content;
    }

    & li {
        padding: 1rem;
        gap: .5rem;

        display: grid;
        grid-template-columns: 10rem 15rem 5rem 5rem;
        align-items: center;
    }
}