.sidebar-wrapper {
    border-right: 1px solid var(--dark-gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    /* box-shadow: 1px 0 4px 0 var(--dark-gray); */
    width: 250px;

    > ul {
        position: relative;
        width: 100%;
        padding-right: 5%;

        > li {
            position: relative;
            margin-top: 3rem;
            font-size: 1.5rem;
            padding-top: .25rem;
            padding-bottom: .25rem;
            display: flex;
            align-items: center;

            height: 35px;

            > * {
                padding-left: 10%;
            }

            & h1 {
                font-size: 2.5rem;
            }

            > a, #logout-btn {
                display: flex;
                align-items: center;   
                gap: .5rem;

                &:hover {
                    color: var(--light-orange);
                    cursor: pointer;
                }
            }
        }

        > #logout-btn-wrapper{
            font-size: 1.5rem;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-right: 5%;
        }
    }
}

#active-nav {
    > a {
        height: 35px;
        animation: active-nav 500ms ease-out forwards;
        background-color: var(--dark-gray);
        border-bottom-right-radius: 3rem;
        border-top-right-radius: 3rem;
        color: var(--text-light);
        padding-top: .25rem;
        padding-bottom: .25rem;
        width: 100%;
    }
}

#logo-icon {
    display: none;
}

@keyframes active-nav {
    0%{
        background: linear-gradient(to right, var(--dark-gray) 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
    }
    100%{
        background: linear-gradient(to right, var(--dark-gray) 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: left bottom;
    }
}

@media screen and (max-width: 1200px) {
    .sidebar-wrapper {
        width: 125px;

        & ul {
            padding-right: 0;
            margin-right: 5px;
        }

        & ul > li {
            height: 35px;
            justify-content: center;

            > * {
                padding-left: 0;
            }
        }

        /* Removed sidebar text */
        & 
            ul > li > a > div,
            ul > li > div > div
        {
            display: none;
        }
    }

    #active-nav > a {
        justify-content: center;
    }

    #logo-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: var(--medium-gray);
    }

    #logo-text {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .sidebar-wrapper {
        width: 60px;
    }

    #logo-icon {
        width: 50px;
        height: 50px;
    }
}