.sidebar-wrapper {
    border-right: 1px solid var(--dark-gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    box-shadow: 1px 0 4px 0 var(--dark-gray);

    > ul {
        position: relative;
        width: 100%;
        padding-right: 5%;

        > li {
            position: relative;
            margin-top: 3rem;
            font-size: 1.5rem;
            padding-top: .25rem;
            padding-bottom: .25rem;
            display: flex;
            align-items: center;

            > * {
                padding-left: 10%;
            }

            & h1 {
                font-size: 2.5rem;
            }

            > a {
                &:hover {
                    color: var(--light-orange);
                }
            }
        }

        > #logout-btn{
            font-size: 1.5rem;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-right: 5%;

            >:hover {
                color: var(--light-orange);
                cursor: pointer;
            }
        }
    }
}

#active-nav {
    > a {
        animation: active-nav 500ms ease-out forwards;
        background-color: var(--dark-gray);
        border-bottom-right-radius: 3rem;
        border-top-right-radius: 3rem;
        color: var(--text-light);
        padding-top: .25rem;
        padding-bottom: .25rem;
        width: 100%;
    }
}

@keyframes active-nav {
    0%{
        background: linear-gradient(to right, var(--dark-gray) 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
    }
    100%{
        background: linear-gradient(to right, var(--dark-gray) 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: left bottom;
    }
}

#notif-counter-wrapper {
    position: relative;
}

#notif-counter {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 1.25rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transform: translate(30%, -65%);
}
