.post-wrapper {
    border: 1px solid black;
    display: block;
    overflow: visible;
    position: relative;
    background-color: var(--dark-gray);
    color: var(--text-light);
    min-height: fit-content;
    max-height: 40rem;
    height: fit-content;
    border-bottom-right-radius: 2rem;
    --icon-post-size: 5rem;


    > #post-icon {
        position: absolute;
        width: var(--icon-post-size);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: radial-gradient(circle, var(--light-gray) 65%, var(--light-orange) 5%);
        border: 3px solid var(--light-gray);
        top: 0;
        left: 0;
        transform: translate(-25%, -25%);

        display: flex;
        justify-content: center;
        align-items: center;

        background-size: contain;
        background-position: center;

        > img#guest {
            margin-left: 5px;
            width: 70%;
        }
    }

    > .post-header {
        display: flex;
        gap: 1rem;
        padding-left: var(--icon-post-size);
        height: calc(var(--icon-post-size) *.65);
        align-items: center;

        > #small-circle {
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: var(--text-light);
        }
    }

    > .post-content {
        width: 100%;
        height: fit-content;
        padding: 1rem;
    }

    > .post-footer {
        padding: 1rem;

        > .post-footer-icons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            max-height: 2rem;
            height: 2rem;
            margin-bottom: 2px;

            > button {
                color: var(--text-light);
                background: transparent;
                border: none;
                display: flex;
                align-items: center;
                gap: 5px;
                
                > svg {
                    width: 25px;
                    height: 25px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    /* > .post-comment-wrapper {

    } */
}