.login-wrapper {
    background-color: var(--dark-gray);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.login-form-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);

    & * {
        background-color: var(--light-gray);
        color: var(--text-dark);
    }

    > h1 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        font-size: 3rem;
    }

    --_width: calc(60%);

    > form {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
        align-items: center;

        > h3 {
            font-size: 1.5rem;
        }

        > .input-style-wrapper {
            overflow: visible;
            width: var(--_width);
            position: relative;

            > #label {
                position: absolute;
                z-index: 2;
                background-color: var(--light-gray);
                top: 0;
                left: 0;
                transform: translate(.75rem, -.75rem);
                padding-left: .25rem;
                padding-right: .25rem;
            }

            > #input-inner {
                position: relative;
                overflow: none;
                width: 100%;

                > input[type='text'] {
                    background: transparent;
                    color: var(--text-dark);
                    border-radius: .25rem;
                    padding-left: 3px;
                    padding-top: .65rem;
                    border: 1px solid var(--dark-gray);
                    min-width: 100%;
                }    
            }
        }

        > .button-wrapper, 
        > .external-login {
            background: var(--light-orange);
            color: var(--text-dark);
            border-radius: .25rem;
            border: 1px solid var(--dark-gray);
            width: var(--_width);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;

            &:hover{
                cursor: pointer;
            }

            > text {
                background: transparent;
                border: none;
                font-size: 1rem;
            }
        }

        > .external-login {
            justify-content: space-around;
            background: transparent;
            border: none;

            > button {
                padding: .5rem;
                padding-left: 2rem;
                padding-right: 2rem;
                border-radius: .25rem;
                border: 1px solid var(--dark-gray);
                background-color: var(--light-orange);
                width: 40%;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        & a {
            color: var(--light-orange);
        }
    
        > .or-style {
            width: var(--_width);
            border-bottom: 1px solid var(--dark-gray);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: visible;
            position: relative;
            
            > text {
                background-color: var(--light-gray);
                padding-left: .5rem;
                padding-right: .5rem;
                position: absolute;
            }
        }
    }
}
