@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body,
*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, 'sans-serf', 'Times New Roman', Times, serif;
}

body,
#root {
    /* Palette */
    --light-gray: #EFEFEF;
    --medium-gray: #d7d7d7;
    --medium-gray: #c1c1c1;
    /* --dark-gray: #333333; */
    --dark-gray: #404040;
    --light-orange: #FF5F1F;
    --text-dark: #000000;
    --text-light: #FFFFFF;

    --post-background: var(--medium-gray);
    --comment-background: var(--light-gray);
    --icon-post-size: 5rem;

    color: var(--dark-gray);

    width: 100vw;
    height: 100vh;
}

#root > * {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: var(--dark-gray);
}

input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
}

ul {
    list-style: none;
}

button {
    background-color: var(--light-orange);
    padding: .25rem;
    border: none;
    border-radius: .25rem;
    border: 1px solid var(--dark-gray);
}

button:hover {
    cursor: pointer;
    transform: translateY(1px);
}

form {
    display: flex;
    padding: 1rem;
}


/* Classes */
.z-index-wrapper {
    position: relative;
    z-index: 0;
}

.user-picture {
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .guest-picture {
    background-color: var(--medium-gray);
    background-size: contain;
    background-position-y: 3px;
} */

.error {
    color: red;
    background-color: rgba(255, 0, 0, .2);
    border-radius: .5rem;
    padding: .5rem;
}